[submodule "~/.zsh/themes/powerlevel10k"]
	path = ~/.zsh/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
	shallow = True
[submodule "~/.zsh/plugins/zsh-syntax-highlighting"]
	path = ~/.zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
